.cafe-info {
    padding: 10px;
  }
  
  .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .label {
    font-size: 18px;
    color: #000;
  }
  
  .status {
    color: #FF3B30;
  }
  