/* 홈 화면 */
.home-container {
    position: relative;
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background: #ffffff;
    font-family: 'Cafe24 Dongdong'
}

/* 로고 스타일 */
.home-logo {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 52.51px;
    height: 22.34px;
}

/* 검색 바 */
.search-bar {
    box-sizing: border-box;
    position: absolute;
    width: 265px;
    height: 25px;
    left: 75px;
    top: 16px;
    background: #FFFFFF;
    border: 1.5px solid #674D42;
    border-radius: 100px;
}

/* 검색 입력 필드 */
.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 10px;  
    padding-right: 28px; 
    font-size: 15px;
    color: #878787;
    background-color: transparent;
    font-family: 'Cafe24 Dongdong', sans-serif;
    line-height: 25px;
    height: 23px;
}

/* 서치 아이콘 */
.search-icon {
    position: absolute;
    width: 18px;
    height: 17px;
    left: 315px; 
    top: 20px;
    cursor: pointer;
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 348px;
    top: 15px;
    cursor: pointer;
}

/* 버튼 스타일 */
.search-button {
    
}

.keyword-search {
    position: absolute;
    background: #674D42;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cafe24 Dongdong';
    width: 170px;
    height: 40px;
    left: 19px;
    top: 53px;
    padding: 0;
}

.chatbot-search {
    position: absolute;
    background: #674D42;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cafe24 Dongdong';
    width: 170px;
    height: 40px;
    left: 203px;
    top: 53px;
    padding: 0;
}