.cafe-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .menu-image {
    width: 60px;
    height: 60px;
    background-color: #B5B5B5;
  }
  
  .menu-name, .menu-price {
    font-size: 18px;
  }
  