/* 비밀번호 찾기 화면 */
.find-id-container {
    position: relative;
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background: #ffffff;
    font-family: 'Pretendard', sans-serif;
}

/* Cafe ChuChu 로고 */
.findpasswordpage_logo {
    position: absolute;
    width: 195.32px;
    height: 83.1px;
    left: 97px;
    top: 96px;
    cursor: pointer;
}

/* 비밀번호 찾기 타이틀 */
.find-id-title {
    position: absolute;
    left: 110px;
    top: 211px;
    font-size: 32px;
    color: #000000;
    font-family: 'Pretendard';
    margin: 0;
}

/* 입력 폼 */
.input-label_1 {
    position: absolute;
    display: block;
    width: 311px;
    height: 60px; 
    top: 281px;
    left: 40px;
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box; 
    font-family: 'Noto Sans KR';
    color: #878787;
}

.input-label_2 {
    position: absolute;
    display: block;
    width: 311px;
    height: 60px; 
    top: 356px;
    left: 40px;
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box; 
    font-family: 'Noto Sans KR';
    color: #878787;
}

/* 비밀번호 찾기 버튼 */
.find-id-button {
    position: absolute;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 311px; 
    height: 60px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-weight: 700;
    text-align: center; 
    top: 431px;
    left: 40px;
    background: #674D42; 
}

/* 다른 방법으로 찾기 */
.find-id-link {
    position: absolute;
    font-family: 'Pretendard';
    font-size: 13px;
    color: #000000;
    cursor: pointer;
    text-decoration: none; 
    top: 506px;
    left: 50%;
    transform: translateX(-50%);
}
