/* 회원가입 화면 */
.signup-container {
    position: relative;
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background: #ffffff;
    font-family: 'Cafe24 Dongdong'
}
  
/* Cafe ChuChu 로고 */
.signuppage-logo {
    position: absolute;
    width: 160px;
    height: 68px;
    left: 115px;
    top: 25px;
    cursor: pointer;
}
  
/* 입력 폼 라벨 */
.text-id {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 110px;
    margin: 0;
}

.text-password {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 187px;
    margin: 0;
}

.text-passwordcheck {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 264px;
    margin: 0;
}

.text-name {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 341px;
    margin: 0;
}

.text-gender {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 227px;
    top: 341px;
    margin: 0;
}

.text-birth {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 418px;
    margin: 0;
}

.text-birth_year {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 133px;
    top: 450px;
    margin: 0;
}

.text-birth_month {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 239px;
    top: 450px;
    margin: 0;
}

.text-birth_day {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 344px;
    top: 450px;
    margin: 0;
}

.text-phonenumber {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 495px;
    margin: 0;
}

.text-certifynumber {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 578px;
    margin: 0;
}

.text-email {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 623px;
    margin: 0;
}

.text-job {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    left: 28px;
    top: 706px;
    margin: 0;
}

/* 입력 폼 */
.input-box_id {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 227px;
    left: 28px;
    top: 136px;
}

.input-box_password {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 334px;
    left: 28px;
    top: 213px;
}

.input-box_passwordcheck {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 334px;
    left: 28px;
    top: 290px;
    z-index: 1;
}

.input-box_name {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 173px;
    left: 28px;
    top: 367px;
}

.input-box_birth_year {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 96px;
    left: 28px;
    top: 444px;
    text-align: center;
}

.input-box_birth_month {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 66px;
    left: 164px;
    top: 444px;
    text-align: center;
}

.input-box_birth_day {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 66px;
    left: 269px;
    top: 444px;
    text-align: center;
}

.input-box_phonenumber {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 262px;
    left: 28px;
    top: 521px;
}

.input-box_certifynumber {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 188px;
    left: 102px;
    top: 572px;
}

.input-box_email {
    position: absolute;
    display: block;
    height: 37px; 
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; 
    font-family: 'Cafe24 Dongdong';
    color: #878787;
    width: 334px;
    left: 28px;
    top: 649px;
}

/* 중복확인 */
.check-button {
    position: absolute;
    display: block;
    width: 98px; 
    height: 37px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    text-align: center; 
    top: 136px;
    left: 264px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
    padding: 0;
}

/* 중복 아이디 안내 */
.check-duplicate {
    position: absolute;
    font-size: 15px;
    font-family: 'Cafe24 Dongdong';
    color: #FF3B30;
    left: 129px;
    top: 116px;
    margin: 0;
}

/* 중복확인 완료 */
.check-complete {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #674D42;
    left: 271px;
    top: 142px;
    margin: 0;
}

.check-complete_icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 336px;
    top: 147px;
}

/* 비밀번호 확인 아이콘 */
.password_check-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 326px;
    top: 296px;
    z-index: 99;
}

/* 남여 아이콘 */
.male-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 257px;
    top: 375px;
    z-index: 99;
    cursor: pointer;
}

.female-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 328px;
    top: 375px;
    z-index: 99;
    cursor: pointer;
}

/* 전화번호 인증 */
.phonecheck-button {
    position: absolute;
    display: block;
    width: 63px; 
    height: 37px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    text-align: center; 
    top: 521px;
    left: 299px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
    padding: 0;
}

/* 인증번호 발송 */
.phonecheck-complete {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #674D42;
    left: 301px;
    top: 527px;
    margin: 0;
}

.phonecheck-complete_icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 336px;
    top: 532px;
}

/* 인증번호 확인 */
.certifycheck-button {
    position: absolute;
    display: block;
    width: 63px; 
    height: 37px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    text-align: center; 
    top: 572px;
    left: 299px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
    padding: 0;
}

/* 잘못된 인증번호 안내 */
.wrong-certify_number {
    position: absolute;
    font-size: 15px;
    font-family: 'Cafe24 Dongdong';
    color: #FF3B30;
    left: 160px;
    top: 609px;
    margin: 0;
}

/* 인증번호 확인 완료 */
.certifycheck-complete {
    position: absolute;
    font-size: 20px;
    font-family: 'Cafe24 Dongdong';
    color: #674D42;
    left: 301px;
    top: 578px;
    margin: 0;
}

.phonecheck-complete_icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 336px;
    top: 583px;
}

/* 선택 폼(선택 전) */
.male-button {
    position: absolute;
    display: block;
    width: 63px; 
    height: 37px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 367px;
    left: 227px;
    background: #FFFFFF; 
    padding: 0;
    border: 1px solid #B5B5B5;
    box-sizing: border-box; 
    z-index: 1;
}

.male-button_span {
    position: absolute;
    font-size: 20px; 
    color: #878787;
    top: 374px;
    left: 238px;
    font-family: 'Cafe24 Dongdong';
    z-index: 99;
    cursor: pointer;
}
    
.female-button {
    position: absolute;
    display: block;
    width: 63px; 
    height: 37px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 367px;
    left: 299px;
    background: #FFFFFF; 
    padding: 0;
    border: 1px solid #B5B5B5;
    box-sizing: border-box; 
    z-index: 1;
}

.female-button_span {
    position: absolute;
    font-size: 20px; 
    color: #878787;
    top: 375px;
    left: 311px;
    font-family: 'Cafe24 Dongdong';
    z-index: 99;
    cursor: pointer;
}

.job_O-button {
    position: absolute;
    display: block;
    width: 90px; 
    height: 37px; 
    font-size: 20px; 
    color: #878787;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 700px;
    left: 70px;
    font-family: 'Cafe24 Dongdong';
    background: #FFFFFF; 
    padding: 0;
    border: 1px solid #B5B5B5;
    box-sizing: border-box; 
}

.job_X-button {
    position: absolute;
    display: block;
    width: 90px; 
    height: 37px; 
    font-size: 20px; 
    color: #878787;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 700px;
    left: 170px;
    font-family: 'Cafe24 Dongdong';
    background: #FFFFFF; 
    padding: 0;
    border: 1px solid #B5B5B5;
    box-sizing: border-box; 
}

.job_student-button {
    position: absolute;
    display: block;
    width: 90px; 
    height: 37px; 
    font-size: 20px; 
    color: #878787;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 700px;
    left: 272px;
    font-family: 'Cafe24 Dongdong';
    background: #FFFFFF; 
    padding: 0;
    border: 1px solid #B5B5B5;
    box-sizing: border-box; 
}

/* 선택 폼(선택 후) */
.select-male-button {
    position: absolute;
    display: block;
    width: 63px; 
    height: 37px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 367px;
    left: 227px;
    background: #674D42; 
    padding: 0;
    border: 1px solid #674D42;
    box-sizing: border-box; 
    z-index: 1;
}

.select-male-button_span {
    position: absolute;
    font-size: 20px; 
    color: #FFFFFF;
    top: 374px;
    left: 238px;
    font-family: 'Cafe24 Dongdong';
    z-index: 99;
}
    
.select-female-button {
    position: absolute;
    display: block;
    width: 63px; 
    height: 37px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 367px;
    left: 299px;
    background: #674D42; 
    padding: 0;
    border: 1px solid #674D42;
    box-sizing: border-box; 
    z-index: 1;
}

.select-female-button_span {
    position: absolute;
    font-size: 20px; 
    color: #FFFFFF;
    top: 375px;
    left: 311px;
    font-family: 'Cafe24 Dongdong';
    z-index: 99;
}

.select-job_O-button {
    position: absolute;
    display: block;
    width: 90px; 
    height: 37px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 700px;
    left: 70px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
    padding: 0;
    border: 1px solid #674D42;
    box-sizing: border-box; 
}

.select-job_X-button {
    position: absolute;
    display: block;
    width: 90px; 
    height: 37px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 700px;
    left: 170px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
    padding: 0;
    border: 1px solid #674D42;
    box-sizing: border-box; 
}

.select-job_student-button {
    position: absolute;
    display: block;
    width: 90px; 
    height: 37px; 
    font-size: 20px; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    top: 700px;
    left: 272px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
    padding: 0;
    border: 1px solid #674D42;
    box-sizing: border-box; 
}

/* 회원가입 하기 버튼 */
.signup-button {
    position: absolute;
    display: block;
    width: 311px; 
    height: 60px; 
    font-size: 25px; 
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; 
    text-align: center; 
    top: 762px;
    left: 28px;
    font-family: 'Cafe24 Dongdong';
    background: #674D42; 
}